<html>
<head>
   <%include header.html%>
</head>
<body>
  <div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="/">Express HTML</a>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/addproduct">Save product</a>
      </li>
    </ul>
  </div>
</nav>
    <div class="jumbotron"  style="padding:40px;">
      <h1>Save New Product</h1>
      
    <table border="3">
     <tr>
     <td>ID</td>
     <td>Title</td>
     <td>Author</td>
     <td>Body</td>
   </tr>
<% for(var i=0; i < articles.length; i++) { %>
   <tr>
     <td><%= articles[i].id %></td>
     <td><%= articles[i].title %></td>
     <td><%= articles[i].author %></td>
     <td><%= articles[i].body %></td>
   </tr>
<% } %>
</table>
<h3><%= articles %></h3>
    </div>
  </div>
</body>
</html>