<html>
<head>
   <%include header.html%>
</head>
<body>
  <div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
     <%include menu.html%>
  </div>
</nav>
    <div class="col-md-5"  style="padding:40px;">
      <h1>Register</h1>
      <%- messages('my_message_template', locals) %>
        <form method="POST" action="/users/login">
          <label>User Name</label>
          <input type="text" name="username" class="form-control" placeholder="User Name">
          <label>Password</label>
          <input type="password" name="password" class="form-control" placeholder="Password">
          <br>
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
  </div>
</body>
</html>