<html>
<head>
   <%include header.html%>
</head>
<body>
  <div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <%include menu.html%>
  </div>
</nav>
    <div class="col-md-5"  style="padding:40px;">
      <h1>Save New Product</h1>
      <% if(errors){ %>

          <% for(var i=0; i < errors.length; i++) { %>
          <div class="alert alert-danger"><%= errors[i].msg %></div>
          <% } %>

       <% } %>
        <form method="POST" action="/articles/addproduct">
          <label>Title</label>
          <input type="text" name="title" class="form-control" placeholder="Title">
          <label>Body</label>
          <textarea name="body" class="form-control" placeholder="Body"></textarea><br><br>
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
  </div>
</body>
</html>