<html>
<head>
   <%include header.html%>
</head>
<body>
  <div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="/">Express HTML</a>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/addproduct">Save product</a>
      </li>
    </ul>
  </div>
</nav>
    <div class="jumbotron"  style="padding:40px;">
      <h1>Save New Product</h1>
      <% if(errors){ %>

          <% for(var i=0; i < errors.length; i++) { %>
          <div class="alert alert-danger"><%= errors[i].msg %></div>
          <% } %>

       <% } %>
        <form method="POST" action="/addproduct">
          <input type="text" name="title"><br><br>
          <input type="text" name="author"><br><br>
          <textarea name="body"></textarea><br><br>
          <button type="submit">Save</button>
        </form>
    </div>
  </div>
</body>
</html>